<div
	id="{{id}}" 
	class={{styles.cont}}
>
	<div class={{styles.avatar}}>
        <img src="{{iconAvatar}}" alt="Аватарка"/>
    </div>
    <div class={{styles.main}}>
        <h3 class={{styles.name}}>
            {{userName}}
        </h3>
        <p class={{styles.description}}>
            {{description}}
        </p>
    </div>
    <time class={{styles.time}}>
        {{time}}
    </time>
</div>
<div class={{styles.horizontalLine}}></div>
