<div
	id="{{id}}" 
	class={{styles.cont}}
>
	<div class={{styles.avatar}}>
        <img src="{{avatar}}" />
    </div>
    <div class={{styles.main}}>
        <h3 class={{styles.name}}>
            {{userName}}
        </h3>
        <p class={{styles.description}}>
            {{description}}
        </p>
    </div>
    <p class={{styles.time}}>
        {{time}}
    </p>
</div>
