<div class={{styles.container}}>
    <div class={{styles.chatList}}>
        <div class={{styles.profile}}>
            <div class={{styles.avatar}}>
                <img src="{{iconAvatar}}" alt="Аватарка" class={{styles.image}} />
            </div>
            <div class={{styles.main}}>
                <h3 class={{styles.name}}>
                    Клюквин Дмитрий
                </h3>
                <p class={{styles.description}}>
                    @rencover
                </p>
            </div>
            <div class={{styles.profileInfo}} id="toSettings">
                <img src="{{iconMore}}" class={{styles.image}} />
            </div>
        </div>
        <input 
            class={{styles.input}} 
            type="text"
            id="search"
            name="search"
            placeholder="Поиск"
        />
        <div class={{styles.add}} id="addChats">
            <div class={{styles.addChat}}>
                <img src="{{iconAdd}}" />
            </div>
        </div>
        <div class={{styles.horizontalLine}}></div>
        <div class={{styles.chat}}>
            {{#each userChats}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
    <div>

    </div>
</div>