<div class={{styles.container}}>
    <div class={{styles.leftPage}}>
        <div class={{styles.box}}>
            <div class={{styles.arrow}}>
                <img src="{{arrow}}" />
            </div>
        </div>
    </div>
    <div class={{styles.rightPage}}>
        <div class={{styles.content}}>
            <div class={{styles.image}}>
                <img src="" />
                <div class={{styles.editImage}}>
                    <img src="{{iconEdit}}" />
                </div>
            </div>
            <div class={{styles.name}}>
                <h2>Клюквин Дмитрий</h2>
            </div>
            <div class={{styles.info}}>
                <div class={{styles.infoString}}>
                    <p>Почта</p>
                    <p>i@klyukvin.ru</p>
                    <div class={{styles.edit}}>
                        <img src="{{iconEdit}}" />
                    </div>
                </div>
                <div class={{styles.infoString}}>
                    <p>Логин</p>
                    <p>klyukvin</p>
                    <div class={{styles.edit}}>
                        <img src="{{iconEdit}}" />
                    </div>
                </div>
                <div class={{styles.infoString}}>
                    <p>Имя</p>
                    <p>Дмитрий</p>
                    <div class={{styles.edit}}>
                        <img src="{{iconEdit}}" />
                    </div>
                </div>
                <div class={{styles.infoString}}>
                    <p>Фамилия</p>
                    <p>Клюквин</p>
                    <div class={{styles.edit}}>
                        <img src="{{iconEdit}}" />
                    </div>
                </div>
                <div class={{styles.infoString}}>
                    <p>Имя в чате</p>
                    <p>rencover</p>
                    <div class={{styles.edit}}>
                        <img src="{{iconEdit}}" />
                    </div>
                </div>
                <div class={{styles.infoString}}>
                    <p>Телефон</p>
                    <p>+7(999)-123-45-67</p>
                    <div class={{styles.edit}}>
                        <img src="{{iconEdit}}" />
                    </div>
                </div>
            </div>
            <div class={{styles.button}}>
                {{> button id='changeBtn' value='Изменить пароль' }}
            </div>
            <div class={{styles.button}}>
                {{> button id='logoutBtn' value='Выйти' }}
            </div>
        </div>
    </div>
</div>
