<div class={{styles.container}}>
    <div class={{styles.leftPage}}>
        <div class={{styles.box}}>
            <div class={{styles.arrow}} id="toChats">
                <img src="{{arrow}}" class={{styles.arrowImage}}/>
            </div>
        </div>
    </div>
    <div class={{styles.rightPage}}>
        <div class={{styles.content}} id="content">
            <div class={{styles.image}}>
                <img src="{{iconAvatar}}" alt="Аватарка" class={{styles.imageAvatar}} />
                <div class={{styles.editImage}} id="addAvatar">
                    <img src="{{iconEdit}}"/>
                </div>
            </div>
            <div class={{styles.name}}>
                <h2>Клюквин Дмитрий</h2>
            </div>
            <div class={{styles.info}} id="userInfo">
                {{#each editsInfo}}
                    {{{this}}}
                {{/each}}
            </div>
            {{!-- <div class={{styles.info}} id="userInfo">
                <div class={{styles.infoString}}>
                    <p class={{styles.infoStringText}}>Почта</p>
                    <p class={{styles.infoStringText}}>i@klyukvin.ru</p>
                    <div class={{styles.edit}}>
                        <img src="{{iconEdit}}" />
                    </div>
                </div>
                <div class={{styles.infoString}}>
                    <p class={{styles.infoStringText}}>Логин</p>
                    <p class={{styles.infoStringText}}>klyukvin</p>
                    <div class={{styles.edit}}>
                        <img src="{{iconEdit}}" />
                    </div>
                </div>
                <div class={{styles.infoString}}>
                    <p class={{styles.infoStringText}}>Имя</p>
                    <p class={{styles.infoStringText}}>Дмитрий</p>
                    <div class={{styles.edit}}>
                        <img src="{{iconEdit}}" />
                    </div>
                </div>
                <div class={{styles.infoString}}>
                    <p class={{styles.infoStringText}}>Фамилия</p>
                    <p class={{styles.infoStringText}}>Клюквин</p>
                    <div class={{styles.edit}}>
                        <img src="{{iconEdit}}" />
                    </div>
                </div>
                <div class={{styles.infoString}}>
                    <p class={{styles.infoStringText}}>Имя в чате</p>
                    <p class={{styles.infoStringText}}>rencover</p>
                    <div class={{styles.edit}}>
                        <img src="{{iconEdit}}" />
                    </div>
                </div>
                <div class={{styles.infoString}}>
                    <p class={{styles.infoStringText}}>Телефон</p>
                    <p class={{styles.infoStringText}}>+7(999)-123-45-67</p>
                    <div class={{styles.edit}}>
                        <img src="{{iconEdit}}" />
                    </div>
                </div>
            </div> --}}
            <div id="changePassword" class={{styles.changePassword}} style="display: none;">
                <form id="changePasswordForm">
                    {{#each inputs}}
                        {{{this}}}
                    {{/each}}
                </form>
                <div class={{styles.changeButton}}>{{{changePasswordButton}}}</div>
            </div>
            <div class={{styles.button}}>
                {{#each button}}
                    {{{this}}}
                {{/each}}
            </div>
        </div>
    </div>
    {{{ editInfo }}}
</div>
