<div class={{styles.container}}>
    <div class={{styles.box}}>
        <p class={{styles.bigText}}>500</p>
        <p class={{styles.mediumText}}>Мы уже фиксим</p>
        <p class={{styles.blueText}}>к чатам</p>
    </div>
</div>