<div class={{styles.container}}>
    <div class={{styles.box}}>
        <p class={{styles.bigText}}>500</p>
        <p class={{styles.mediumText}}>{{errorMessage}}</p>
        <p class={{styles.blueText}} id="toChats">к чатам</p>
    </div>
</div>