<div class={{styles.container}}>
    <div class={{styles.box}}>
        <h1 class={{styles.title}}>Вход</h1>
        <form class={{styles.colomn}}>
            <label>
                <p class={{styles.text}}>Почта:</p>
                <input type="text" name="email" size="40">
            </label>
            <label>
                <p class={{styles.text}}>Логин:</p>
                <input type="text" name="login" size="40">
            </label>
            <label>
                <p class={{styles.text}}>Имя:</p>
                <input type="text" name="first_name" size="40">
            </label>
            <label>
                <p class={{styles.text}}>Фамилия:</p>
                <input type="text" name="second_name" size="40">
            </label>
            <label>
                <p class={{styles.text}}>Телефон:</p>
                <input type="text" name="phone" size="40">
            </label>
            <label>
                <p class={{styles.text}}>Пароль:</p>
                <input type="text" name="password" size="40">
            </label>
            <label>
                <p class={{styles.text}}>Пароль ещё раз:</p>
                <input type="text" name="password" size="40">
            </label>
        </form>
        <div class={{styles.colomn}}>
            {{> button id='registrationBtn' value='Войти' }}
            <div class={{styles.authorization}}>Впервые?</div>
        </div>
    </div>
</div>