<div class={{styles.container}}>
    <div class={{styles.box}}>
        <h1 class={{styles.title}}>Регистрация</h1>
        <form class={{styles.colomn}} id="registration">
            {{#each inputs}}
                {{{this}}}
            {{/each}}
        </form>
        <div class={{styles.colomn}}>
            {{{button}}}
            <div class={{styles.authorization}} id="toEnter">Войти</div>
        </div>
    </div>
</div>