<div class={{styles.container}}>
    <div class={{styles.box}}>
        <p class={{styles.bigText}}>404</p>
        <p class={{styles.mediumText}}>{{errorMessage}}</p>
        <p class={{styles.text}}><a class={{styles.blueText}} href="{{href}}">к чатам</p></p>
    </div>
</div>